<div class="coloured">
  <div class="w-container">
    <h1 class="slider-heading" style="text-align:center;">Create Your Account</h1>

    <div class="subhead-text" style="text-align:center;">Already have an account?&nbsp;
      <a class="login-link steps pointer" data-ix="display-login" show-modal="login">Login to an existing Toklio account</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
  
<section id="cInformation"> 
<div class="w-row">
        <div class="w-col w-col-6">
		<div class=" media icon">
				<i class="fas fa-sign-in-alt"></i>
				<span class="media title">Take Note of your Private Login Key!</span>
			</div>
          
          <div class="media text" >
            <span style="background:rgba(214,147,128,0.15);">Below this you will find your thirteen word "Private Login Key". Keeping this secure and private is very important</span>, as it is
	the only way that you will be able to login to your account. As we don't store your private login key on the server
	there is no way to recover it if it is lost!<br><br>Your private login key can also never be changed, and if it is stolen or otherwise
	compromised, you will have to move your funds to a new account with a new private login key. Therefore, it is best that you
	backup your private login key by writing it down, perhaps obscuring it as part of a poem or letter, and storing it in multiple
	safe and secure places.
          </div>
        </div>
        <div class="w-col w-col-6">
			<div class=" media icon">
				<i class="fas fa-user"></i>
				<span class="media title">Understand the Risks in Using this Service</span>
			</div>
			
          <div class="media text">
            This is a web-based interface that allows you to use Toklio without running a full Toklio node. However, because this convenience
	comes at a cost: it is extremely difficult to securely deliver its code to your browser. <span style="background:rgba(214,147,128,0.15);">This means that there is
	considerable risk in using this service for large amounts!</span><br><br>It is recommended that you treat this service as you would treat your
	actual wallet, and not store very large amounts in it. For long-term storage of Toklio you should create a cold wallet using
	<a class="login-link" target="_blank" href="http://paper.tokl.io">Toklio Generator Wallet</a> or similar.
          </div>
        </div> 
      </div>
	  <button style="margin:0 auto;" onclick="$('#cInformation').slideUp();$('#cWallet').slideDown();return false;">I confirm that I read it</button>
</section>	  
 
<section id="cWallet" style="display:none;">
    <div class="key">
		<div class="media icon" style="text-align:center;">
			<i class="fas fa-key"></i>
			<span class="media title">Your Private Login Key</span>
		</div>
      <div class="result-text">{{mnemonic}}</div>
    </div>
    
      <div class="w-form formwrap login-key-form">
        <form id="email-form" name="email-form" data-name="Email Form" data-redirect="/overview.html" ng-submit="login(seed, mnemonic, mnemonic_confirmation)" >
          <label class="info-header form middle" style="font-size: 14px;color: #fff;text-align: left;margin-bottom: 5px;" for="Login-Key">Confirm your Private Login Key</label>
          <input class="w-input mnemonic-page" id="Login-Key" type="text" ng-model="mnemonic_confirmation" placeholder="Type your Private Login Key out here to confirm it" name="Login-Key" data-name="Login Key" autocomplete="off" required="">
          <input class="button" style=" display: block; margin: 0 auto; margin-top: 35px; " id="form-submit" type="submit" value="I&#39;ve written down my Private Login Key, log me in!" data-wait="Please wait...">
        </form>
        <div class="w-form-fail" style="display: block;" ng-show="!!error">
          <p>{{error}}</p>
        </div>
      </div>
    
	
</section>
	
  </div>
</div>
