<div class="coloured">
  <div class="w-container">
    <h1 class="slider-heading" style="text-align: center;">Toklio Support</h1>
    <div class="subhead-text" style="text-align: center;">Need an account?&nbsp;<a href="#!/create-your-account" class="login-link steps">Create a Toklio Wallet</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
    <div class="no-account-div top-box">
      <div class="w-row">
        <div class="w-col w-col-12 column-support">
          <div class="support-block">Feedback &amp;&nbsp;Bugs:</div>
          <div class="support-text">Please make an issue at https://github.com/Toklio-project/Toklio-web-wallet/</div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-12">
        <div class="no-account-div">
          <div class="info-header middle">What is Open Toklio?</div>
          <div class="no-account-text thin middle">
            Open Toklio is an open source, re-implementation
            of  https://mymonero.com/.

           The Open Monero backendis open source, free
            to use and modify.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
